body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(125, 138, 192, 0.426);
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

main {
    margin: auto;
    max-width: 800px;
}

section {
    background: linear-gradient(to right, rgba(217, 97, 211, 0.447), rgba(68, 40, 146, 0.496));
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
}
