body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(171, 185, 234);
    margin-top: 10px;
    padding: 0;
    align-content: center;
}
#school{
    padding: 10px;
    background: linear-gradient(to right, rgba(9, 79, 9, 0.592), rgba(98, 79, 49, 0.7));
    margin: auto;
}